.history {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding-top: 30px;
  padding: 18px;
  margin: 27px;
  margin-right: 270px;
}

.eachList {
  padding-top: 9px;
}