/* .demo-perspective-photo {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 200px;
  background-color: #fff;
  zoom: 2;
} */

/* .demo-perspective-photo #stage {
  width: 100%;
  height: 200px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: relative;
} */

/* .demo-perspective-photo #container {
  position: absolute;
  width: 64px;
  height: 36px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -18px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: photoRotate 18s ease-in-out infinite 2s;
  animation: photoRotate 18s ease-in-out infinite 2s;
} */

/* .piece {
  width: 128px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -moz-transition: opacity 1s, -moz-transform 1s;
  transition: opacity 1s, transform 1s;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateY(60deg) translateZ(196px);
} */

#stage {
  perspective: 5800px;
  margin-top: 12px;
}

.piece {
  position:absolute;
}

  img:nth-child(1){transform: translateZ(500px);}
  img:nth-child(2){transform: translateZ(-500px);}
	img:nth-child(3){transform:rotateY(45deg) translateZ(-500px);}
	img:nth-child(4){transform:rotateY(45deg)  translateZ(500px);}
	img:nth-child(5){transform:rotateY(-45deg) translateZ(500px);}
  img:nth-child(6){transform:rotateY(-45deg) translateZ(-500px);}
  img:nth-child(7){transform:rotateY(90deg) translateZ(500px);}
	img:nth-child(8){transform:rotateY(90deg) translateZ(-500px);}
  
  #container {
    margin:0 auto;
    margin-top:150px;
    margin-bottom: 50px;
    transform-style: preserve-3d;
    animation:zhuan 180s linear  infinite;height:300px;width:450px;
    }

    @keyframes zhuan{
  		0%{transform:rotateX(-3deg) rotateY(0);}
			100%{transform: rotateX(-3deg) rotateY(360deg);}
    }
    
    /* .home {
      background:white;
    } */